<a href="https://colab.research.google.com/github/CarloIker/PythonPOO/blob/main/LunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Esto es un comentario
print("Hola Mundo") # Esto imprime "Hola Mundo"

Hola Mundo

In [4]:
!ls -a

.  ..  .config	sample_data

In [5]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-") # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo") # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [11]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {0} y estudio {1} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre} y estudio {carrera} en la FES Aragón")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es José y estudio ICO, la mejor en la FES Aragón

In [14]:
# Operadores aritmeticos
suma = 5 + 3 # 8
resto = 5 - 3 # 2
producto = 5 * 3 # 15
división = 5 / 3 # 1.66667
división2 = 5 // 3 # 1
módulo = 5 % 3 # 2
potencia = 5 ** 3 # 125

In [16]:
módulo

2

In [17]:
# Operadores de comparación
igual = 5 == 3 # Falso
diferente = 5 != 3 # Verdadero
mayor_que = 5 > 3 # Verdadero
menor_que = 5 < 3 # Falso
mayor_o_igual_que = 5 >= 3 # Verdadero
menor_o_igual_que = 5 <= 3 # Falso

In [18]:
diferente

True

In [19]:
y = True and False  # False
o = True or False  # True
no = not True  # False

In [21]:
True and True and True

True

In [26]:
saludo = "Hola Mundo"
cita = 'Los alumnos\n de ICO dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [27]:
print(cita)
print(parrafo)

Los alumnos
 de ICO dicen: "Hola Mundo"
Esto es un párrafo
que abarca varias
líneas

In [33]:
def fn_uno():
    print("Hola función")
 
a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
#print(c[1])
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7f629c1f8af0>
Hola función

In [34]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Carlo
Hola Carlo!

In [39]:
#Casting
numero = int("20")
print(numero)

edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad+1} años")

20
Introduce tu edad:19
Carlo tiene 20 años

In [40]:
#Variables y tipos de datos
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [44]:
pi*2.0

6.28318

In [46]:
frutas = ['limon','aguacate','fresa']
print(frutas[-1])

fresa

In [47]:
cosas = ['limon',33,3.1416,True,[1,2,3,4],3>4]
print(cosas)

['limon', 33, 3.1416, True, [1, 2, 3, 4], False]

#Silicing en Python
[ <inicio> : <stop> : <step> ]

Es la posibilidad de obtener rebanadas a paritr de un tipo de datos lista o tupla, en general de un iterable. Un tipo de dato String es un iterable.

Por defecto:
inicio = 0
stop = tamaño de la variable
step += 1

In [48]:
ejemplo = [1,2,3,4,5,6,'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [54]:
rebanada = ejemplo[6:9:]
print(rebanada)

['a', 'b', 'c']

In [62]:
frutas_dos = ('aguacate','limon','naranja')
print(frutas)
print(frutas_dos)

frutas[1] = 'Piña'
#frutas_dos[1] = 'Piña'

print(frutas[-1:-4:-1])
print(frutas_dos[1])

['limon', 'Piña', 'fresa']
('aguacate', 'limon', 'naranja')
['fresa', 'Piña', 'limon']
limon

#Diccionario teoría

1. Es un conjunto de pares llave valor.
1. Agrupados por ':'
1. La llave siempre es de tipo string
1. El valor puede ser de cualquier tipo.
1. El selector de la forma ['llave']
1. Mutable
1. Se declara entre los caracteres '{ y }'

In [70]:
alumno = {
    'numero_cuenta': 1234555, 
    'carrera':'ICO',
    'direccion': {'calle':'rancho seco', 'numero': 23}
    }
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

23
cho